# pandas - a Pythonic interface

The pandas library is a key tool for data analysis in Python. It implements ideas from various other worlds (R, Excel, SQL) and bundles them in a very Pythonic interface. What does this mean? In this talk, you will see an example how pandas allows to analyze a dataset that contains a few surprises efficiently. 

The talk presents an analysis of baby names from the last 130 years, an example adopted from Wes McKinneys book "Python for Data Analysis". We will discuss pros and cons of approach used for the pandas API.

In [2]:
import pandas as pd
import os

names = []
PATH = 'names/'

In [11]:
for fn in sorted(os.listdir(PATH)):
    if not fn.endswith('.txt'): continue
    print(fn, end=", ")
    df = pd.read_csv(PATH + fn, names=['name', 'gender', 'count'])
    df['year'] = int(fn[-8:-4])
    names.append(df)

yob1880.txt, yob1881.txt, yob1882.txt, yob1883.txt, yob1884.txt, yob1885.txt, yob1886.txt, yob1887.txt, yob1888.txt, yob1889.txt, yob1890.txt, yob1891.txt, yob1892.txt, yob1893.txt, yob1894.txt, yob1895.txt, yob1896.txt, yob1897.txt, yob1898.txt, yob1899.txt, yob1900.txt, yob1901.txt, yob1902.txt, yob1903.txt, yob1904.txt, yob1905.txt, yob1906.txt, yob1907.txt, yob1908.txt, yob1909.txt, yob1910.txt, yob1911.txt, yob1912.txt, yob1913.txt, yob1914.txt, yob1915.txt, yob1916.txt, yob1917.txt, yob1918.txt, yob1919.txt, yob1920.txt, yob1921.txt, yob1922.txt, yob1923.txt, yob1924.txt, yob1925.txt, yob1926.txt, yob1927.txt, yob1928.txt, yob1929.txt, yob1930.txt, yob1931.txt, yob1932.txt, yob1933.txt, yob1934.txt, yob1935.txt, yob1936.txt, yob1937.txt, yob1938.txt, yob1939.txt, yob1940.txt, yob1941.txt, yob1942.txt, yob1943.txt, yob1944.txt, yob1945.txt, yob1946.txt, yob1947.txt, yob1948.txt, yob1949.txt, yob1950.txt, yob1951.txt, yob1952.txt, yob1953.txt, yob1954.txt, yob1955.txt, yob1956.txt, yob1957.txt, yob1958.txt, yob1959.txt, yob1960.txt, yob1961.txt, yob1962.txt, yob1963.txt, yob1964.txt, yob1965.txt, yob1966.txt, yob1967.txt, yob1968.txt, yob1969.txt, yob1970.txt, yob1971.txt, yob1972.txt, yob1973.txt, yob1974.txt, yob1975.txt, yob1976.txt, yob1977.txt, yob1978.txt, yob1979.txt, yob1980.txt, yob1981.txt, yob1982.txt, yob1983.txt, yob1984.txt, yob1985.txt, yob1986.txt, yob1987.txt, yob1988.txt, yob1989.txt, yob1990.txt, yob1991.txt, yob1992.txt, yob1993.txt, yob1994.txt, yob1995.txt, yob1996.txt, yob1997.txt, yob1998.txt, yob1999.txt, yob2000.txt, yob2001.txt, yob2002.txt, yob2003.txt, yob2004.txt, yob2005.txt, yob2006.txt, yob2007.txt, yob2008.txt, yob2009.txt, yob2010.txt, yob2011.txt, yob2012.txt, yob2013.txt, yob2014.txt,

In [4]:
# make a single DataFrame from a list of DataFrames
names = pd.concat(names)

In [5]:
def first_letter(x): return x[0]
names['first'] = names['name'].apply(first_letter)

In [6]:
# separate boys and girls lists
boys = names[names.gender=='M']
girls = names[names.gender=='F']

In [7]:
# statistics on single names
def findname(df, name): 
    return df[df['name']==name].sort('year')
print(findname(boys, "Tyrion"))

         name gender  count  year first
26878  Tyrion      M      5  1997     T
27802  Tyrion      M      5  1998     T
24773  Tyrion      M      8  1999     T
23935  Tyrion      M     11  2000     T
24865  Tyrion      M     10  2001     T
23454  Tyrion      M     14  2002     T
23952  Tyrion      M     14  2003     T
24284  Tyrion      M     15  2004     T
25025  Tyrion      M     14  2005     T
26915  Tyrion      M     12  2006     T
26784  Tyrion      M     14  2007     T
26169  Tyrion      M     16  2008     T
25692  Tyrion      M     17  2009     T
27337  Tyrion      M     11  2010     T
24706  Tyrion      M     18  2011     T
24301  Tyrion      M     20  2012     T
21938  Tyrion      M     43  2013     T
21307  Tyrion      M     60  2014     T

/home/krother/.virtualenvs/talks/lib/python3.4/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

In [8]:
# total population
g = names.groupby('year')
print(g['count'].apply(sum))

year
1880     201484
1881     192699
1882     221538
1883     216950
1884     243467
1885     240855
1886     255319
1887     247396
1888     299480
1889     288950
1890     301402
1891     286678
1892     334383
1893     325223
1894     338694
1895     351028
1896     357490
1897     346960
1898     381463
1899     339235
1900     450327
1901     345819
1902     386736
1903     381207
1904     403496
1905     423948
1906     428462
1907     465399
1908     488657
1909     511227
         ...
1985    3567068
1986    3554828
1987    3603553
1988    3692441
1989    3843104
1990    3950252
1991    3893897
1992    3839692
1993    3768776
1994    3716231
1995    3660759
1996    3645627
1997    3623928
1998    3676165
1999    3691441
2000    3777007
2001    3740300
2002    3735021
2003    3798793
2004    3816939
2005    3840220
2006    3950840
2007    3991547
2008    3923523
2009    3812228
2010    3686589
2011    3646730
2012    3643336
2013    3626802
2014    3670151
Name: count, dtype: int64

In [9]:
# first letter statistics
mrc = boys.groupby('first')['count'].apply(sum)
frc = girls.groupby('first')['count'].apply(sum)
print(mrc / frc)

first
A    0.697584
B    0.936245
C    0.992701
D    1.468989
E    0.738231
F    1.468220
G    1.617667
H    0.945726
I    0.675881
J    1.963427
K    0.513197
L    0.534895
M    0.637303
N    0.767757
O    1.154744
P    0.834689
Q    2.624689
R    2.283204
S    0.558435
T    1.402623
U    1.802693
V    0.333219
W    5.725206
X    3.381456
Y    0.229861
Z    1.873438
Name: count, dtype: float64

In [10]:
namesum = names[names['first'] == 'Q'].groupby('name')['count'].apply(sum)
namesum.sort(ascending=False)
print(namesum[:10])

name
Quinn      46282
Quentin    38471
Quinton    27448
Quincy     26060
Queen      14028
Quintin    13881
Quinten     6822
Quiana      3931
Queenie     3611
Quenton     2971
Name: count, dtype: int64

/home/krother/.virtualenvs/talks/lib/python3.4/site-packages/ipykernel/__main__.py:2: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  from ipykernel import kernelapp as app